@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Bitter|Lato);

* {
  box-sizing: border-box;
}

html, body {
  color: #222;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #007079;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: .2em;
}

h2 {
  color: #a5a5a5;
  font-size: 1.1em;
  font-family: 'Bitter';
}

h3 {
  color: #007079;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: .4em;
}

p {
  font-size: 1.1em;
}

.nav {
  overflow: hidden;
  position: relative;
  z-index: 2;
  width: 18em;
  height: 100%;
  margin-left: -16em;
  transition: all 0.25s;
  &:hover {
    margin-left: 0;
    .open span:before {
      transform: rotate(180deg);
      margin-left: -0.3em;
    }
  }
}

.content-parent {
  height: 100%;
  float: left;
}

.content {
  display: inline-block;
  * {
    line-height: 1.4em;
  }
}

.links {
  width: 16em;
  background-color: #a5a5a5;
  .content {
    width: 100%;
  }
  a {
    display: block;
    color: #eee;
    font-family: 'Bitter';
    text-decoration: none;
    padding: 0.5em 0;
    padding-left: 1em;
    &.active {
      background-color: #005157;
    }
    &:hover {
      background-color: #007079;
    }
  }
}

.open {
  width: 2em;
  height: 100%;
  text-align: center;
  background-color: #ccc;
  cursor: pointer;
  span {
    display: inline-block;
    position: relative;
    background-color: #a5a5a5;
    width: 1.5em;
    height: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    border-radius: 1.5em;
    span {
      display: none;
    }
    &:before {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      width: 0;
	    height: 0;
	    border-top: .3em solid transparent;
	    border-bottom: .3em solid transparent;
	    border-left: .5em solid white;
      margin-top: -.25em;
      margin-left: -.2em;
    }
  }
}

.view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  .content-parent {
    width: 100%;
  }
}

.port {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #222;
  background-repeat: no-repeat;
  background-size: 2000px;
  background-position: 50% 50%;
  &.active {
    display: block;
  }
  * {
    line-height: 1em;
  }
  .close {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 2em;
    height: 2em;
    color: #222;
    font-weight: bold;
    line-height: 2em;
    text-align: center;
    background-color: #ccc;
    cursor: pointer;
  }
  .content {
    max-width: 30em;
    background-color: rgba(255,255,255,.75);
    padding: 1.5em;
  }
  &.breaking {
    background-image: url('http://fay.io/e/breakingbad.jpg');
  }
  &.dexter {
    background-image: url('http://fay.io/e/dexter.jpg');
  }
  &.walking {
    background-image: url('http://fay.io/e/walkingdead.jpg');
  }
}

.mobile {
  display: none;
}

@media all and (max-width: 30em) {
  .content {
    display: none;
  }
  .mobile {
    display: block;
  }
}
